stages:
  - test
  - publish

tests:
  image: "${CI_REGISTRY}/dm0/qmake-scm-tests/qscm-testenv:v1.0.1"
  stage: test

  script:
  - git clone https://gitlab.com/dm0/qmake-scm-tests.git
  - cd qmake-scm-tests
  - tox -- --qscm-path ..

  except:
    - tags

  artifacts:
    reports:
      junit: qmake-scm-tests/junit.xml
